extends ../layouts/default

block content
    include base
    form.form-horizontal(role='form' method='post' action='#{url}/save')
        +formInput("标题", "name", model, true)
        div.form-group
            label.col-sm-2.control-label 所属栏目
            div.col-sm-10.row
                +cate_checkbox_list(categorys, model, 0)
        div.form-group
            label.col-sm-2.control-label 封面图片
            div.col-sm-10.admin_article
                input#cover_pic_input(type="hidden" name="cover_pic" value=model&&model.cover_pic)
                span.btn.btn-success.fileinput-button
                    i.glyphicon.glyphicon-plus
                    span 添加封面图
                    input#cover_uploader(
                        type="file"
                        name="files[]"
                    )
                .row
                    .col-sm-4
                        .thumbnail
                            img#cover_pic(src=model&&model.cover_pic alt="")
                            .caption
                                p
                                    button.btn.btn-danger#cover_del(
                                        type="button"
                                        data-filename=model&&model.cover_pic
                                    ) 删
        +formInput("跳转链接", "url", model, false)
        div.form-group
            label.col-sm-2.control-label 是否置顶
            div.col-sm-10
                label.radio-inline
                    input(
                        name="is_top"
                        type="radio"
                        value="0"
                        checked=(model ? model.is_top===false : true)
                    )
                    | 否
                label.radio-inline
                    input(
                        name="is_top"
                        type="radio"
                        value="1"
                        checked=model&&model.is_top===true
                    )
                    | 是
        div.form-group
            label.col-sm-2.control-label 内容
            div.col-sm-10
                script(
                    id="editor" name="content" type="text/plain"
                    style="min-height: 400px"
                )
                    | !{model&&model.content}
        div.form-group
            div.col-sm-offset-2.col-sm-10
                input.btn.btn-success(type="submit" value="保存")
                input(type="hidden" name="id" value=model&&model._id)

block scripts
    script.
        $(document).ready(function() {
            var ue = UE.getEditor('editor')
            var uploadDir = "/articles/"
            fileuploadInit(uploadDir, 12)
            $cover_pic = $('#cover_pic')
            if(!$cover_pic.attr('src')) {
                $cover_pic.parent().hide()
            }
            var articleDir = '/articles'
            $("#cover_uploader").fileupload({
                url: "/admin/upload?dir=/articles",
                fileName: "image",
                maxFileCount: 1,
                done: function (e, data) {
                    try {
                        var rs = data.result
                        rs = JSON.parse(rs)
                        file = rs.files[0]
                        $cover_pic.attr('src', file.url).parent().show()
                        $('#cover_pic_input').val(articleDir+'/'+file.name)
                        $('#cover_del').data('filename', file.name)
                    } catch (e) {
                        console.warn(e);
                    }
                }
            });
            $('#cover_del').on('click', function() {
                ajaxDel(articleDir, $(this).data('filename')).then(function(data){
                    if(data.success) {
                        $('#cover_pic_input').val('')
                        $cover_pic.attr('src', '').parent().hide()
                        $('#cover_del').data('filename', '')
                    }
                })
            })
        })
