mixin link(data)
    a(href=data.url ? data.url : '/article/id/#{data._id}')
        block

mixin title(data)
    +link(data)
        | #{data.name}

mixin thumb-img(imgSrc, name)
    img(src=imgSrc ? imgSrc : '/img/null.jpg', alt='#{name}')
